
body{
  position: relative;
  background: linear-gradient(90deg, black 10%, black 90%); /* W3C */

}
header{
  position: fixed;
  top:5px;
  left:5px;
  width:100%;
  height: 8%;
  z-index: 100;
}
footer{
  position: fixed;
  z-index: 100;
  width: 150px;
  height: 150px;
  bottom: 5px;
  right: 5px;
  
  
}
#bin{
  height: 100%;
  width: 100%;


}
.msg{
  
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  
  
}
.msg:hover{
  display: block;
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  
}

.city {
   color: white;
   float: left;
   margin: 5%;
   padding: 10px;
   width: 400px;
   height: 150px;
   border: 1px solid black;
   border-radius: 10%;
   background: linear-gradient(#E6E6E6,#FFFFFF);
   background-repeat: no-repeat;
   background-size: 500px 250px;
   
   animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
   }   
.city:hover{
  
  z-index: -1;
  box-shadow: 10px 10px 100px 10px white;
  background-repeat: no-repeat;
   background-size: 500px 250px;
   

  

}



#newcity{
  font-size: 100%;
  width: 100%;
  height: 25px;
  
}
.new{
  float: left;
  width: 70%;
  height: 100%;
}
#addcity_btn{
  float:left;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  margin-left: 5px;
    
    
    
    background:#a2bb33;
    
    font-family: 'Arial', sans-serif;
    color:#ffffff;
    white-space: nowrap;
    border-radius: 50%;

}
#addcity_btn:active{
  box-shadow: 2px 2px 19px #FFCC00;
}
#addcity_btn a{
  text-decoration: none;
}

.place
{
  width: 70%;
  height: 30px;
  font-size: 30px;
  float: left;
   margin: 5px;
}

.date
{
   width: 70%;
  height: 20px;
  font-size: 20px;
  float: left;
   margin: 5px;
}
.status{
  width: 70%;
  height: 20px;
  font-size: 20px;
  float: left;
   margin: 5px;

}
.temp_div{
  float:left;
  width: 100%;
}
.temprature{
  font-size: 30px;
  float: left;
  width: 60%;
  font-weight: bold;
  

}
.icon{
  float: left;
}
.details{
  position: relative;
  float: right;
  right: 0px;
  width: 40%;
}
.lat {
  float: right;
  font-size: 15px;
  margin: 2px;
}
.lng{
  float: right;
  font-size: 15px;
  margin: 2px;
}
